<footer>
<div id="footer-links">
    
</div>
    <br/>
    
    <div id="signature">
        Webmaster: <%= mail_to("sallyz@andrew.cmu.edu", "Sally Zhao", encode: "javascript") %> 
        &nbsp;&nbsp;&copy 2017
    </div>
    
    <br/>

</footer>